<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>patients</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
   

  <body>
      <script>
        function myFunction(show) {
            var forms = document.getElementsByClassName("search");
    
            for (var i = 0; i < forms.length; i ++) {
              forms[i].style.display = "none";
            }

            var reqForm = document.getElementsByClassName(show)[0];
            reqForm.style.display = "block";
        }
      </script>
    
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
  
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('view_doctor')}}">Doctors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('view_patient') }}">Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('view_donor') }}">Donors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('review_transplants')}}">Review Transplantation</a>
      </li>
    </ul>
   
  </div>
</nav>
  
      <div id="new_patient">
        <br><br><br>
        <div style="border-style: solid; border-color: white; padding-left: 10px; padding-right: 10px; padding-top: 10px;padding-bottom: 10px;">
      <form method="post" action="{{ url_for('add_new_patient', signup='false') }}">
          <div class="form-group">
          <input name="patient_name" type="text" id="patient_name" class="form-control" placeholder="patient name">
          </div>
          <div class="form-group">
            <label for="date_of_birth">Date of birth</label>
            <br>
          <input type="date" name="date_of_birth" id="date_of_birth" class="form-control" required>
          </div>
          <div class="form-group">
          <input type="text" name="insurance_no" id="insurance_no" class="form-control" placeholder="Insurance No.">
          </div>
          <div class="form-group">
          <input type="text" name="house_no" id="house_no" class="form-control" placeholder="House No.">
          </div>
          <div class="form-group">
          <input type="text" name="street_no" id="street_no" class="form-control" placeholder="Street No.">
          </div>
          <div class="form-group">
          <select id="location" name="location">
            <option value="" class="form-control">Location</option>
            {% for location in locations %}
              <option value="{{ location }}" class="form-control">{{ location }}</option>
            {% endfor%}  
          </select>
        </div>
        <div class="form-group">
          
          <select id="doctor_id" name="doctor_id" >
            <option value="" class="form-control">Consultant Doctor</option>
            {% for doctor in doctors %}
              <option value="{{ doctor[0] }}" class="form-control">Dr. {{ doctor[1] }}, {{ doctor[2] }} Specialist</option>
            {% endfor%}  
          </select>
        </div>

          <div class="form-group">
          <label for="date_of_demand">Start of Consultation</label>
          <input type="date" name="date_of_demand" id = "date_of_demand" required class="form-control">
          </div>
          <input type="submit" class="btn btn-primary" value="Add New Patient">
      </form>
    </div>
      </div>

      <div id="pending_organ">
        <br><br><br>
      <h3>View Pending Organ Transplants</h3>
      <button onclick="myFunction('id')">Search by ID</button>
      <button onclick="myFunction('name')">Search by Name</button>
      <button onclick="myFunction('city')">Search by City</button>
      <button onclick="myFunction('state')">Search by State</button>
      <form method="post" action="{{ url_for('search_patient', type='all') }}">
        <div class="form-group">
        <input type="submit" value="View All Pending Patients">
        </div>
      </form>
      <br>
      <form class="search id" style="display:none" method="post" action="{{ url_for('search_patient', type='id') }}">
        <div class="form-group">
        <label for="patient_id">Patient ID</label>
        <input type="number" name="patient_id" id="patient_id" required>
      </div>
        <br>
        <div class="form-group">
        <input type="submit" value="Search"> 
      </div>
      </form>
      <form class="search name" style="display:none" method="post" action="{{ url_for('search_patient', type='name') }}">
        <label for="patient_name">Patient Name</label>
        <input name="patient_name" id="patient_name" required>
        <br>
        <input type="submit" value="Search"> 
      </form>
      <form class="search city" style="display:none" method="post" action="{{ url_for('search_patient', type='city') }}">
        <label for="city">City</label>
        <select id="city" name="city">
          {% for location in locations %}
            <option value="{{ location[:location.find(',')] }}">{{ location[:location.find(',')] }}</option>
          {% endfor %}
        </select> 
        <br>
        <input type="submit" value="Search">
      </form>
      
      <form class="search state" style="display:none" method="post" action="{{ url_for('search_patient', type='state') }}">
        <label for="state">State</label>
        <select id="state" name="state">
          {% for location in locations %}
            <option value="{{ location[location.find(',') + 2:] }}">{{ location[location.find(',') + 2:] }}</option>
          {% endfor %}
        </select>
        <br>
        <input type="submit" value="Search"> 
      </form>
      

       
      {% if patients|length > 0 %}
     <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-striped table-dark table-bordered">
          <tr>
            <th>Patient ID</th>
            <th>Patient Name</th>
          </tr>
          {% for patient in patients %}
              
          <tr>
              
              <td><a href="{{ url_for('patient_details', patient_id = patient[0])}}">{{ patient[0]}}</a></td>
              <td><a href="{{ url_for('patient_details', patient_id = patient[0])}}">{{ patient[1]}}</a></td>
              
          </tr>
      
          
          {% endfor %}
      </table>
    </div>
    </div>
      {% endif %}
      
      {% if msg|length > 0 %}
        <p>{{ msg }}</p>
      {% endif %}
      
    </body>
</html>
  